.pop-login {
  position: relative;
  top: 110%;
  right: -110%;
 
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  right: 2rem;

}
.pop-login h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--black);
}
.pop-login .box input {
    width: 100%;
    margin: 1rem 0;
    font-size: 1.6rem;
    text-transform: none;
    color: var(--black);
    padding: 1rem;
    background: #eee;
    border-radius: 0.5rem;
  }
.pop-login p {
  font-size: 1.4rem;
  color: var(--light-color);
}
.pop-login p a {
  color: var(--orange);
  text-decoration: underline;
  
}

.pop-login button:hover {
  background: var(--orange);
}
.pop-login .err{
  font-size: 1.4rem;
  color: red;
  font-style: italic;
  
}