.register {
  position: relative;
  top: 110%;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  background: #fff;

}
.register {
  right: 2rem;
}
.register h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--black);
}
.register .box input {
    width: 100%;
    margin: 1rem 0;
    font-size: 1.6rem;
    text-transform: none;
    color: var(--black);
    padding: 1rem;
    background: #eee;
    border-radius: 0.5rem;
  }
.register p {
  font-size: 1.9rem;
  color: red;
}
.register p a {
  color: var(--orange);
  text-decoration: underline;
}
.header .user-form button:hover {
  background: var(--orange);
}
